extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body

		.header
			

		.body
			section.sec1
				img.logo.wow.fadeInUp(src="../../assets/img/logo.svg", alt="")
				.titulo.wow.fadeInUp Representante
				
				.containerTxt.wow.fadeInUp
					.text.azul 
						| Bem-vindo ao Treinamento Anual sobre Procedimentos e Cuidados Essenciais na Distribuição de Amostras Grátis de Medicamentos para uma breve atualização dos seus conhecimentos.
					.text.text1.azul.bold 
						| Você, Representante do nosso time de campo, em especial, desempenha um papel importante na distribuição dos nossos medicamentos aos profissionais de saúde.<br> Notará que nosso treinamento traz informações importantes sobre<br> os procedimentos, manuseios e cuidados com nossas amostras.
					.text.text1.mt0_5.azul 
						| Ao final, teste seus conhecimentos participando do nosso quiz.<br> Para começar, assista ao vídeo que destaca a importância das<br> amostras grátis no nosso setor.
					.text.text1.mt0_5
						| <span class="bold roxo">Dê play para assistir!</span>
				img.wow.zoomIn.tela01_01(src="../../assets/img/tela01_01.svg", alt="")

				.containerVideo.wow.zoomIn.delay1
						video(src="../../assets/video/video1.mp4" controls controlsList="nodownload"  poster="../../assets/video/video1.png")

				
			
				
			//- .secRef
			section.sec2.wow.fadeInUp
				.sec2_block01.wow.fadeInUp
					h4
						| Recebimento das Amostras e Aceite no Veeva 
					h4.prop-l1
						| RESPONSÁVEL: REPRESENTANTE
					img.sec2_01_img(src="../../assets/img/sec2_01.svg", alt="")
				
				
				.info.wow.fadeInUp
					
					.line
						.text
							| <b>O seu processo de controle e cuidados com as amostras começa<br> no recebimento delas.</b> É importante confirmar todas as quantidades<br> com os entregadores e, na sequência,<br> realizar o aceite delas no Veeva.
						img.sec2_ico2.wow.zoomIn(src="../../assets/img/sec2_ico2.png", alt="")
						.text.bold.azul.mt1_5 <b>Vamos ver se conhece a ordem correta dos procedimentos que devem ser realizados?</b>

					.arrasteExercicio.arrasteExercicio1(arraste=1)
						.arrasteExercicioBase
							.itCons
								.itContainer
									.it.it1.dragDrop_element(arraste=1) Clicar no menu minhas amostras
								.itContainer
									.it.it2.dragDrop_element(arraste=2) Clicar em 'Recibo de Amostras Pendentes'
								.itContainer
									.it.it3.dragDrop_element(arraste=3) Confirmar o número do lote no sistema
								.itContainer
									.it.it4.dragDrop_element(arraste=4) Clicar no botão confirmar
								.itContainer
									.it.it5.dragDrop_element(arraste=5) Informar a quantidade Recebida
								.itContainer
									.it.it6.dragDrop_element(arraste=6) Salvar

							.contCons
								.contContainer
									.cont.dragDrop_element(alvo=1)
								.contContainer
									.cont.dragDrop_element(alvo=2)
								.contContainer
									.cont.dragDrop_element(alvo=3)
								.contContainer
									.cont.dragDrop_element(alvo=4)
								.contContainer
									.cont.dragDrop_element(alvo=5)
								.contContainer
									.cont.dragDrop_element(alvo=6)

						butom.confirmar.mt2
							| <span>Clique</span> para conferir.

						.feed.feed-pos.wow.fadeIn
							img(src="../../assets/img/check.svg", alt="")
							.text.text4
								| <span class="bold">Isso mesmo! Esse é o passo a passo que deve realizar no recebimento das amostras.</span>
						
						.feed.feed-neg.wow.fadeIn
							img(src="../../assets/img/erro.svg", alt="")
							.text.text4
								| <span class="bold vermelho">Humm... teve alguns erros :(. Dê uma olhada na ordem correta e, se achar que está com dificuldade nesse tema, <a class="link vermelho" href="https://astrazeneca.sabacloud.com/Saba/Web_spf/E102PRD0001/common/ledetail/cours000000025483552/latestversion" target="_blank">clique</a> e assista ao vídeo com orientações completas.</span>
						
						.text.alert.text1.mt1.wow.fadeIn
								| Caso tenha alguma dificuldade nesse procedimento, consulte o material específico deste tema no Cornerstone SBX, para encontrá-lo digite: <b>‘Transação de Amostra Grátis – Veeva’</b>
			
			
								
				.info.info2.wow.fadeInUp.mt4_5 
					
					img.sec2_02_img(src="../../assets/img/sec2_02.svg", alt="")
					
					.line.line2
						h2.azul Gerenciamento de entrega de <br><span>amostras junto aos HCPs</span>
						.text.itx1
							| <span class="xt1">Somada a promoção e disseminação de conhecimento que agrega em seus</span> <span class="xt2"> relacionamentos, o controle da entrega de amostras aos médicos requer</span> <span class="xt3">cuidado, pois o manuseio inadequado dos nossos medicamentos pode acarretar consequências ao produto, bem como ao paciente final.</span>
						.text.bold.azul.itx2 <b>Portanto, é fundamental registrar com precisão as quantidades e os lotes das amostras fornecidas a cada médico no Veeva CRM.</b>
						.text.bold.azul.mt1_5 <b>Confira seus conhecimentos sobre esse processo enumerando na ordem cada uma das etapas:</b>

					.arrasteExercicio.arrasteExercicio1(arraste=1)
						.arrasteExercicioBase
							.itCons
								.itContainer
									.it.it1.dragDrop_element(arraste=1) Acessar o Veeva iRep
								.itContainer
									.it.it2.dragDrop_element(arraste=2) Clicar em 'meu painel'
								.itContainer
									.it.it3.dragDrop_element(arraste=3) Selecionar o médico visitado
								.itContainer
									.it.it4.dragDrop_element(arraste=4) Registrar sua visita
								.itContainer
									.it.it5.dragDrop_element(arraste=5) Selecionar os produtos promovidos
								.itContainer
									.it.it6.dragDrop_element(arraste=6) Clicar em adicionar sample
								.itContainer
									.it.it7.dragDrop_element(arraste=7) Lançar a quantidade entregue
								.itContainer
									.it.it8.dragDrop_element(arraste=8) Coletar assinatura do médico
								.itContainer
									.it.it9.dragDrop_element(arraste=9) Enviar

							.contCons
								.contContainer
									.cont.dragDrop_element(alvo=1)
								.contContainer
									.cont.dragDrop_element(alvo=2)
								.contContainer
									.cont.dragDrop_element(alvo=3)
								.contContainer
									.cont.dragDrop_element(alvo=4)
								.contContainer
									.cont.dragDrop_element(alvo=5)
								.contContainer
									.cont.dragDrop_element(alvo=6)
								.contContainer
									.cont.dragDrop_element(alvo=7)
								.contContainer
									.cont.dragDrop_element(alvo=8)
								.contContainer
									.cont.dragDrop_element(alvo=9)

						butom.confirmar.mt2
							| <span>Clique</span> para conferir.

						.feed.feed-pos.wow.fadeIn
							img(src="../../assets/img/check.svg", alt="")
							.text.text4
								| <span class="bold">Essa é a ordem correta! Caso tenha alguma dúvida, consulte o material específico no Cornerstone SBX, busque como ‘Transação de Amostra Gratis – Veeva.</span>
						
						.feed.feed-neg.wow.fadeIn
							img(src="../../assets/img/erro.svg", alt="")
							.text.text4
								| <span class="bold vermelho"> Remontamos os processos na ordem correta para facilitar o entendimento, caso tenha alguma dificuldade com esse procedimento, <a class="link vermelho" href="https://astrazeneca.sabacloud.com/Saba/Web_spf/E102PRD0001/common/ledetail/cours000000025483548/latestversion" target="_blank">clique aqui</a> para assistir ao vídeo com as orientações completas que está disponível no Cornerstone SBX.
								

				.info.info2.wow.fadeInUp.mt4_5
					img.sec2_01_img(src="../../assets/img/sec2_03.svg", alt="")
					.line2
						h2.resetLeft.azul 
							| Qualidade das Amostras 
						.text
							| A fim de mantermos a qualidade e eficácia dos nossos<br> medicamentos, é fundamental que, quando estiverem sob<br> sua responsabilidade, siga algumas diretrizes importantes<br> para o armazenamento das amostras.
						.text.mt1 O vídeo a seguir oferece dicas sobre armazenamento e manuseio dos medicamentos. <b class="azul">Lembre-se que é sua responsabilidade garantir a qualidade das amostras que estão sob os seus cuidados.</b>
						.containerVideo.wow.zoomIn.delay1
							video(src="../../assets/video/video2.mp4" controls controlsList="nodownload"  poster="../../assets/video/video1.png")

						
			
			section.sec3.wow.fadeInUp
				
				.containerTxt.wow.fadeInUp
					h2.branca 
						| CUIDADOS ESPECIAIS
					h1.branca 
						| QTERN

				

				.info
					img.alert.wow.zoomIn(src="../../assets/img/alert.svg", alt="")
					.text 
						| Como já sabe, <b class="azul">o Qtern é um medicamento que deve ser transportado em condições <br>controladas, entre 15°C e 25°C</b>, utilizando embalagens térmicas qualificadas para <br>não perder sua eficácia. Por isso, ele requer atenção especial, do momento do <br>recebimento até a promoção junto ao médico.
					.text.mt1.text2 
						| <b class="azul">Todo o transporte do Qtern deve ser realizado em isopores com gelo e cabe a você os seguintes cuidados:</b>
					.list.mt1
						.it
							img.wow.zoomIn(src="../../assets/img/calendario.svg", alt="")
							.text Ao receber o produto da transportadora, <b class="azul">verifique se ele foi entregue dentro de 9 dias corridos</b>, que é o tempo de qualificação da embalagem. Haverá uma etiqueta colada na NF para facilitar essa visualização. 
						.it
							img.wow.zoomIn(src="../../assets/img/erro2.svg", alt="")
							.text <b class="azul">Caso o prazo esteja excedido, recuse o recebimento</b>, uma vez que, se ultrapassado esse tempo, não podemos mais garantir a qualidade das AGs. Esse é um processo novo, portanto, atente-se aos próximos recebimentos deste produto.

						.it
							img.wow.zoomIn(src="../../assets/img/check2.svg", alt="")
							.text <b class="azul">Caso esteja de acordo, cabe a você agora os cuidados de armazenamento</b> conforme orientações do último vídeo. Ou seja, um armazenamento em condições adequadas como nossos outros medicamentos. <b class="azul">Os cuidados especiais com o Qtern estão no transporte, sempre em embalagem especial de isopor com gelo</b>.

				.text.text3.bold.branca 
					| Para mais informações sobre o preparo e transporte do medicamento até os médicos, clique para acessar o <a href="" class="link branca" target="_blank">'Guia de Orientação - Montagem das Caixas de Qtern'</a>.


			section.sec5.wow.fadeInUp
				//- img.bg.wow.fadeInRight(src="../../assets/img/sec4-img1.png", alt="")
				
				.containerTxt.wow.fadeInUp
					h4 
						| ROUBO, PERDA OU EXTRAVIO DE AMOSTRAS
					img.sec-title.wow.zoomIn(src="../../assets/img/ladrao.svg", alt="")
				
				.info.wow.fadeInUp
					
					.text.text1.mt0_5
						| No dia a dia com as amostras, situações indesejadas podem ocorrer, como extravios, <br>perda de medicamentos e, infelizmente, casos de furtos ou roubos.
					.text.text1.mt0_5.azul
						| <b>Esses problemas podem contribuir para falsificações, comércio clandestino ou uso<br> indevido dos medicamentos, colocando em risco a reputação da AstraZeneca e, <br>acima de tudo, a saúde dos nossos pacientes.</b>
					.text.text1.mt0_5
						| Portanto, é preciso de atenção às orientações e aos prazos estabelecidos, principalmente, <br>aos representantes. 
					
					.exercic02
						h4
							| <span class="bold azul">Qual o prazo de notificação no caso de extravio de amostras?</span>
						.ques
							.itq.itq1(it=0)
								img.wow.zoomIn(src="../../assets/img/sec4-img-12.svg", alt="")
							.itq.itq2(it=1)
								img.wow.zoomIn(src="../../assets/img/sec4-img-14.svg", alt="")
							.itq.itq3(it=0)
								img.wow.zoomIn(src="../../assets/img/sec4-img-24.svg", alt="")
							.itq.itq4(it=0)
								img.wow.zoomIn(src="../../assets/img/sec4-img-72.svg", alt="")
						.feedQues
								img.feedImg.feedImgPos.wow.zoomIn(src="../../assets/img/sec4-img-pos.svg", alt="")
								img.feedImg.feedImgNeg.wow.zoomIn(src="../../assets/img/sec4-img-neg.svg", alt="")

					.infoBase.inativeB 
						.baseX
							img.sec-title.wow.zoomIn(src="../../assets/img/sec4-img-3.svg", alt="")
							.text.text1.wow.fadeInUp.azul Esse é o tempo máximo que você tem para notificar nosso time por meio do grupo no Outlook: +BRCZ_ROUBOS_EXTRAVIOS_AGS
				
					.containerTx2.wow.fadeInUp.inativeB 
						.text.text1.mt2_5
							| <b class="azul">Em casos de furtos ou roubos</b>, além da notificação, <b class="azul">é obrigatório registrar um Boletim de Ocorrência Policial</b> com uma descrição detalhada do incidente, <b class="azul">incluindo o nome do produto, lote e quantidades subtraídas</b>, para que as autoridades competentes estejam cientes e possam tomar as devidas providências.
						.text.text1.mt0_5
							| <b class="azul">Também é mandatório enviar uma cópia deste boletim para o grupo +BRCZ_ROUBOS_EXTRAVIOS_AGS.</b> Caso o boletim de ocorrência policial não contenha todos os detalhes necessários, utilize o corpo do e-mail da sua notificação para adicionar as informações essenciais que serão utilizadas pelos nossos times internos.
						.text.text1.text2.mt1
							| <b class="azul">Lembre-se de que qualquer informação pode fazer uma diferença significativa na resolução do caso. Portanto, relate tudo o que lembrar!</b>
					.blockColor.inativeB 
						img.peopleTriste.wow.zoomIn(src="../../assets/img/peopleTriste.svg", alt="")
						h4
							| E se as amostras forem encontradas<br> após os procedimentos realizados?
						.text.bold
							| Você deve informar imediatamente, ou no prazo máximo de 24 horas, <span class="bold">o grupo +BRCZ_ROUBOS_EXTRAVIOS_AGS no Outlook</span>.
						.text.bold
							| No e-mail, descreva o nome do produto, lote e quantidades recuperadas, bem como qualquer outra informação pertinente.
						.text.bold
							| Lembre-se de separar essas amostras das demais que você possui e aguarde orientações sobre como realizar a devolução para a AstraZeneca. <a href="" class="link branca bold" target="_blank">Estas amostras recuperadas, sob nenhuma hipótese, podem ser entregues aos médicos</a>.
						

							
						//- .text.text1.azul.mt1
						//- 	| <span class="bold">Você deve informar também</span>, se possível, imediatamente, ou  <span class="bold">no prazo máximo de até 24 horas</span>, o grupo +BRCZ_ROUBOS_EXTRAVIOS_AGS, no Outlook. No e-mail, descreva o nome do produto, lote e quantidades recuperados. 
						//- .text.text1.azul.mt1
						//- 	| Lembre-se de separar estas amostras das demais que você possui e aguarde orientações de como realizar a devolução para a AstraZeneca. <span class="bold">Estas amostras, sob nenhuma hipótese, podem ser entregues aos médicos.</span>
						//- .block.wow.fadeInUp
						//- 	img.sec-title.wow.zoomIn(src="../../assets/img/sec4-img-4.svg", alt="")
						//- 	.text.text1.wow.fadeInUp
						//- 		| <span class="bold">Você pode minimizar os danos causados pelo roubo ou perda de amostras com pequenas atitudes:</span>
						//- 	.lisd
						//- 		.text.text1.azul
						//- 			| <i class="fa fa-caret-right" aria-hidden="true"></i> Saia de cada apenas com as amostras que serão entregues naquele dia;
						//- 		.text.text1.azul
						//- 			| <i class="fa fa-caret-right" aria-hidden="true"></i> Sempre que possível, estacione seu carro em estacionamentos;
						//- 		.text.text1.azul
						//- 			| <i class="fa fa-caret-right" aria-hidden="true"></i> Caso não tenha estacionamento no local, avalie levar as amostras com você.
						//- .block2.wow.fadeInUp
						//- 	.ifn
						//- 		h2.vermelho
						//- 			| Amostras danificadas ou suspeitas de falsificação
						//- 		.text.text2.azul.mt2
						//- 			| <span class="bold azul">Ao notar qualquer tipo de dano nas amostras ou aparência diferente do padrão</span>, sugerindo uma falsificação, <span class="bold azul">informe imediatamente o SAC usando o e-mail sac@astrazeneca.com</span>. Não abra, manipule as amostras ou tente corrigir as avarias e, principalmente, <span class="bold azul">não distribua estas amostras</span>.
						//- 		.text.text2.azul.mt2
						//- 			| Nosso <span class="bold azul">time de Garantia da Qualidade de Operações</span> é o responsável pela identificação e procedência dos desvios levando os casos aos times globais. Por isso, nestes casos, <span class="bold azul">aguarde as orientações de como proceder</span>.
						//- 	img.sec-title.wow.zoomIn(src="../../assets/img/sec4-img-5.png", alt="")

			section.sec6.wow.fadeInUp.inativeB 
				img.bg.wow.fadeInLeft(src="../../assets/img/sec6_img1.png", alt="")
				
				.containerTxt.wow.fadeInUp
					h1.roxo 
						| Amostras vencidas
					.text.text1.mt1
						| Nossas amostras, assim como todos produtos, têm um prazo de validade e <span class="bold">é de suma importância que os pacientes não as recebam com prazos vencidos</span>, por isso, <span class="bold">elas podem ser entregues com uma margem mínima de 3 mesess</span>, antes do seu vencimento, aos profissionais de saúde. Esse é o prazo mínimo necessário para que ela cumpra seu percurso logístico com tempo hábil para o médico orientar um tratamento com segurança para seus pacientes.
					.text.text1.mt0_5
						| <span class="bold">Se, por qualquer motivo, as amostras estiverem com um prazo inferior a 3 meses, é necessário acionar o processo de logística reversa para que elas voltem à AstraZeneca para destruição.</span>
					.info
						.text.text1
							| <b class="azul">Procedimento:</b> os <span class="bold">Representantes</span> devem alertar seu <span class="bold">Gerente Distrital</span> com as informações do <span class="bold">produto</span>, lote e <span class="bold">quantidade</span>, e aguardar orientações do operador logístico para a coleta dos medicamentos.
						.text.text1.mt1
							| <span class="bold azul">Os GDs, ao receber o alerta de seus representantes, precisam:</span>
						.lit.mt1
							.itx
								.numb 1
								.text.text1
									| <span class="bold">Verificar com os demais membros de sua equipe se há mais amostras nas mesmas condições.</span>
							.itx.mt0_5
								.numb 2
								.text.text1
									| <span class="bold">Consolidar as informações passando um e-mail para <a class="link" href="mailto:brczfaturamentopromocional@astrazeneca.com" target="_blank">brczfaturamentopromocional@astrazeneca.com</a>.</span>
						.text.text1.mt1
							| A partir daí, o <span class="bold">operador logístico</span> será notificado e seguirá com os processos internos para a coleta das amostras para sua destruição.

	
			section.sec7.wow.fadeInUp.inativeB 
				img.bg.wow.fadeInRight(src="../../assets/img/sec7_img1.png", alt="")
				
				.containerTxt.wow.fadeInUp
					h1.azul 
						| O que fazer com as amostras nos casos de movimentações de colaboradores?
					.text.text1.mt0_5
						| É comum e natural a <span class="bold">movimentação de profissionais</span> (como mudança de linha,  <span class="italic bold">job rotations</span>, pedidos de demissão ou até mesmo desligamentos) a qualquer momento, mas <span class="bold">o que fazer com suas amostras nesses casos?</span>
					.text.text1.mt0_5
						| Em casos de <b class="azul">movimentações internas</b>, o próprio <span class="bold">Representante</span> deve <b>acessar o Veeva CRM</b> para realocar as amostras para o perfil do GD.
					.lit
						img.wow.zoomIn(src="../../assets/img/sec7_img2.svg", alt="")
						.text.text1
							| Caso tenha dúvidas sobre esse procedimento, <a class="link" href="https://astrazeneca.sabacloud.com/Saba/Web_spf/E102PRD0001/common/ledetail/21834815/latestversion" target="_blank">clique aqui</a>  para assistir ao vídeo ou, quando desejar, acesse o Cornerstone SBX digitando "transferência de amostras".
				
				.containerTxt2.wow.fadeInUp.mt2
					.text.text1
						| Já nos casos de <b class="azul">movimentações externas</b> (pedido de demissão ou desligamento) é necessário que o <span class="bold">Gerente Distrital</span> siga as orientações do RH e, no <span class="bold">prazo de 24 horas</span>:
					.list.mt1
						.text.text1
							| <span class="bold">1. Preencha o formulário de declaração de materiais;</span>
						.text.text1
							| <span class="bold">2. Confirme fisicamente as quantidades;</span>
						.text.text1
							| <span class="bold">3. Conclua a transferência no Veeva;</span>
						.text.text1
							| <span class="bold">4. Ajuste o inventário de AGs.</span>

			section.sec8.wow.fadeInUp.inativeB 
				img.bg.wow.fadeInLeft(src="../../assets/img/sec8_img1.png", alt="")
				
				.containerTxt.wow.fadeInUp
					h1.azul 
						| <span class="italic">Recall</span> de amostras
					.text.text1.mt1
						| Você sabe o que fazer ou qual a importância dos recalls de amostras?
					.text.text1.mt0_5
						| <b class="azul" >Confira no vídeo a importância desse mecanismo de segurança em nosso negócio.</b>
				
				.containerVideo.wow.zoomIn.delay1
						video(src="../../assets/video/video3.mp4" controls controlsList="nodownload"  poster="../../assets/video/video2.png")

				.blokc.wow.fadeInUp.delay1
					//- .text
					//- 	| <span class="bold roxo">Deixe sua opinião!</span>
					.icons(item=3)
						img.icon1(src="../../assets/img/sec1_ico1.svg", alt="", status="like")
						img.icon3(src="../../assets/img/sec1_ico3.svg", alt="", status="deslike")
						img.icon2(src="../../assets/img/sec1_ico2.svg", alt="", status="heart")

			
			section.sec9.wow.fadeInUp.inativeB#controlComplete
				
				.info
					img.tx(src="../../assets/img/sec8_img3.svg", alt="")
					.text
							|	<b class="azul">Aqui encerramos nosso conteúdo, bora testar seus conhecimentos em um quiz com apenas 5 questões? É bem rapidinho!</b>
					
					
					.containerExercicio
						.exercicioInit.exercicioInit1.mt2_5(correta=3)
							.indice 1
							.text.title.subtitulo
									<span class="">Assim que as amostras chegam na casa dos Representantes, eles devem:</span>
							.alters
								.alter.alter1(res=0, indice=1)
									.selector
									.text.altTxt 
										<span class="azul">1. Sair para entregá-las aos médicos.</span>
								.alter.alter2(res=0, indice=2)
									.selector
									.text.altTxt 
										<span class="azul">2. Avisar seu GD.</span>
								.alter.alter3(res=1, indice=3)
									.selector
									.text.altTxt 
										<span class="azul">3. Confirmar o recebimento no Veeva.</span>
								.alter.alter4(res=0, indice=4)
									.selector
									.text.altTxt 
										<span class="azul">4. Colocá-las no carro.</span>
						
						.exercicioInit.exercicioInit2.mt2_5(correta=4)
							.indice 2
							.text.title.subtitulo
									<span class="">Onde as amostras devem ser armazenadas após seu recebimento?</span>
							.alters
								.alter.alter1(res=0, indice=1)
									.selector
									.text.altTxt 
										<span class="azul">1. No carro, preferencialmente no porta-malas.</span>
								.alter.alter2(res=0, indice=2)
									.selector
									.text.altTxt 
										<span class="azul">2. Em um local limpo</span>
								.alter.alter3(res=0, indice=3)
									.selector
									.text.altTxt 
										<span class="azul">3. Longe de materiais de limpeza, inseticidas, insetos e poluição.</span>
								.alter.alter4(res=1, indice=4)
									.selector
									.text.altTxt 
										<span class="azul">4. As alternativas 2 e 3 estão corretas.</span>
						
						.exercicioInit.exercicioInit3.mt2_5(correta=4)
							.indice 3
							.text.title.subtitulo
									<span class="">No que se refere a qualidade das amostras:</span>
							.alters
								.alter.alter1(res=0, indice=1)
									.selector
									.text.altTxt 
										<span class="azul">1. Elas simbolizam a imagem da AstraZeneca perante aos médicos.</span>
								.alter.alter2.alterCustom(res=0, indice=2)
									.selector
									.text.altTxt 
										<span class="azul">2. Sob condições inadequadas de armazenamento podem comprometer sua eficácia.</span>
								.alter.alter3(res=0, indice=3)
									.selector
									.text.altTxt 
										<span class="azul">3. Os times de campos são também responsáveis pelos seus cuidados.</span>
								.alter.alter4(res=1, indice=4)
									.selector
									.text.altTxt 
										<span class="azul">4. Todas alternativas estão corretas.</span>
							
						.exercicioInit.exercicioInit4.mt2_5(correta=3)
							.indice 4
							.text.title.subtitulo
									<span class="">O que fazer em caso de roubo ou furto de amostras?</span>
							.alters
								.alter.alter1(res=0, indice=1)
									.selector
									.text.altTxt 
										<span class="azul">1. Abrir um boletim de ocorrência na delegacia mais próxima.</span>
								.alter.alter2(res=0, indice=2)
									.selector
									.text.altTxt 
										<span class="azul">2. Informar ao GD.</span>
								.alter.alter3.alterCustom(res=1, indice=3)
									.selector
									.text.altTxt 
										<span class="azul">3. Informar ao grupo responsável na AstraZeneca (+BRCZ_ROUBOS_EXTRAVIOS_AGS) enviando o boletim de ocorrência aberto em até 24 horas.</span>
								.alter.alter4.alterCustom(res=0, indice=4)
									.selector
									.text.altTxt 
										<span class="azul">4. Informar ao grupo responsável na AstraZeneca (+BRCZ_ROUBOS_EXTRAVIOS_AGS) imediatamente ao episódio, sem necessidade de abertura de boletim de ocorrência.</span>
							
						.exercicioInit.exercicioInit5.mt2_5(correta=4)
							.indice 5
							.text.title.subtitulo
									<span class=""> Assinale a afirmativa correta relacionada ao <i>recall</i> de medicamentos:</span>
							.alters
								.alter.alter1.alterCustom(res=0, indice=1)
									.selector
									.text.altTxt 
										<span class="azul">1. Trata-se de um processo mandatório que vale também para as amostras <br>grátis comercializadas.</span>
								.alter.alter2.alterCustom(res=0, indice=2)
									.selector
									.text.altTxt 
										<span class="azul">2. O representante tem um prazo de 48 horas para enviar as informações solicitadas.</span>
								.alter.alter3.alterCustom(res=0, indice=3)
									.selector
									.text.altTxt 
										<span class="azul">3. Trata-se de um processo válido apenas para os medicamentos comercializados.</span>
								.alter.alter4(res=1 , indice=4)
									.selector
									.text.altTxt 
										<span class="azul">4. Alternativas 1 e 2 estão corretas.</span>
						
						.btnConfrmar.mt1_5
							| FINALIZAR
						
						.feed.feed-positivo1.mt1_5.wow.fadeIn
							.ico
								img(src="../../assets/img/sinal1.svg", alt="")
							.textBase
								.text
									| <span class="bold azul">Parabéns!<br> 
								.text
									| <span class="bold azul">Você assimilou todo o conteúdo! Siga em frente e bom trabalho!</span>
						
						.feed.feed-positivo2.mt1_5.wow.fadeIn
							.ico
								img(src="../../assets/img/sinal2.svg", alt="")
							.textBase
								.text
									| <span class="bold azul">Apenas uma questão errada!<br> 
								.text
									| <span class="bold azul">Veja com atenção qual seria a resposta correta e bom trabalho!</span>
						
						.feed.feed-negativo.mt1_5.wow.fadeIn
							.ico
								img(src="../../assets/img/sinal3.svg", alt="")
							.textBase
								.text
									| <span class="bold azul">Talvez seja melhor rever o conteúdo, o que acha?<br> 
								.text
									| <span class="bold azul">Esfrie a cabeça e tente novamente!</span>
			
			section.rodape.wow.fadeInUp
				.baseT 
					.text
						| Ficou alguma dúvida?
					.text
						| Para consultar a política completa <a class="link" href="https://az.app.box.com/file/875626531411" target="_blank">clique aqui</a>.


block scripts
	script(src="../../vendor/wow.min.js")
	script(src="script.js")
